
                    @foreach (var invoice in Model.FrameInvoices)
                    {
                        <tr>
                            <td class="field-cut">
                                <span class="switchTimeFormat" data-switch="@invoice.Date.ToTimeAgo()">
                                    @invoice.Date.ToBrowserDate()
                                </span>
                            </td>
                            <td onclick="copyToClipboard(event, this)" class="field-cut">@invoice.InvoiceId</td>
                            <td>
                                @if (invoice.CanMarkStatus)
                                {
                                    <div id="pavpill_@invoice.InvoiceId">
                                        <span class="dropdown-toggle dropdown-toggle-split pavpill pavpil-@invoice.Status.ToString().ToLower() stat-@invoice.StatusString"
                                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            @invoice.StatusString
                                        </span>
                                    </div>
                                }
                                else
                                {
                                    <span class="pavpill pavpil-@invoice.Status.ToString().ToLower()">@invoice.StatusString</span>
                                }
                            </td>
                            <td style="text-align:right">@invoice.AmountCurrency</td>
                          
                        </tr>
                    }
        

 

          