@model UsersViewModel
@{ 
    Layout = null;
}

<div class="col align-self-center">Total Users: @Model.Total</div>

<span class="page-link">@(Model.Skip + 1) to @(Model.Skip + Model.Users.Count) of @Model.Total</span>

<table class="table table-sm table-responsive-md">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Email</td>
            </tr>
        }
    </tbody>
</table>

@{
    string listUsers(int prevNext, int count)
    {
        var skip = Model.Skip;
        if (prevNext == -1)
            skip = Math.Max(0, Model.Skip - Model.Count);
        else if (prevNext == 1)
            skip = Model.Skip + count;

        var act = Url.Action("ListUsers", new
        {
            skip = skip,
            count = count,
        });

        return act;
    }
}
